@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@100&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}

body {
  background-image: linear-gradient(to right top, #161689, #a60076, #e71f4d, #f9801b, #e1cf14);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}